<div class="container">
  <article class="row">
    <section>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Preparing</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">123</li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="card ready" style="width: 18rem">
        <div class="ready-orders">
          <div class="card-body">
            <h5 class="card-title">Ready</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">123</li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</div>
