.topbar {
  background-color: #f7f7f7;
  align-items: center;
  padding: 3px 20px;
  position: relative;
}

.topbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar p {
  font-weight: bold;
  margin: 0;
}

.topbar button {
  /* background-image: url(https://via.placeholder.com/50/); */
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  font-size: 23px;
  background-color: #673ab7;
  color: #fff;
}

.topbar ul {
  position: absolute;
  background-color: #eee;
  right: 0;
  top: 56px;
  padding: 10px 20px;
  z-index: 1;
  list-style: none;
  padding: 0;
}

.topbar ul li {
  margin-bottom: 7px;
  padding: 5px 20px;
  text-align: center;
}

.topbar ul li:hover {
  background-color: #673ab7;
}

.topbar ul li:hover a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-menu__log-out {
  cursor: pointer;
}
