<section class="topbar">
  <div class="container-fluid">
    <p>
      <a routerLink="/pos">
        <span><i class="fas fa-store"></i></span>
        {{ theStoreName || "Store Name" }}
      </a>
    </p>
    <div *ngIf="user_fullName; else unknown">
      <p>{{ "Hi " + user_fullName }}</p>
    </div>
    <ng-template #unknown>
      <p>Unknown</p>
    </ng-template>
    <button (click)="toggleTopbarMenu()" class="topbarImg">
      <i class="fas fa-user"></i>
    </button>
    <ul class="nav-menu" [hidden]="hidden">
      <li><a routerLink="/pos">POS</a></li>
      <li *ngIf="user_Position == 'admin'">
        <a routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li><a routerLink="/admin/settings">Settings</a></li>
      <li class="nav-menu__log-out"><a (click)="logOut()">Log Out</a></li>
    </ul>
  </div>
</section>
