<div class="container">
  <article class="row">
    <section>
      <div class="card" style="width: 18rem">
        <div class="card-body text-center">
          <h5 class="card-title">Client Name</h5>
          <h5 class="card-title">123</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Start Preparing</a>
          <a href="#" class="card-link">Finished</a>
        </div>
      </div>
    </section>
  </article>
</div>
